# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugin-dependencies

# Android
/android/build/
/android/.gradle/
/android/gradlew
/android/gradlew.bat
/android/local.properties

# iOS
/ios/Pods/
/ios/.symlinks/
/ios/Frameworks/
/ios/xcuserdata/

# General
.DS_Store
/build/
*.apk
*.ipa
*.xcscheme
*.pbxuser
*.mode1v3
*.mode2v3
*.swp
*.lock
**/generated_plugin_registrant.dart

# IntelliJ/Android Studio
.idea/
*.iml

# VS Code
.vscode/